<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monitorss.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @monitorss.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @monitorss.price %>
</p>

<p>
  <strong>Diagonal:</strong>
  <%= @monitorss.diagonal %>
</p>

<p>
  <strong>Category:</strong>
  <%= @monitorss.category_id %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @monitorss.resolution %>
</p>

<p>
  <strong>Color:</strong>
  <%= @monitorss.color_id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @monitorss.brand_id %>
</p>

<p>
  <strong>Produced:</strong>
  <%= @monitorss.produced %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @monitorss.resolution %>
</p>

<p>
  <strong>Country:</strong>
  <%= @monitorss.country_id %>
</p>

<%= link_to 'Edit', edit_monitorss_path(@monitorss) %> |
<%= link_to 'Back', monitorsses_path %>
