<%= form_with(model: ssd) do |form| %>
  <% if ssd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ssd.errors.count, "error") %> prohibited this ssd from being saved:</h2>

      <ul>
        <% ssd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :produced %>
    <%= form.text_field :produced %>
  </div>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.text_field :brand_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.text_field :country_id %>
  </div>

  <div class="field">
    <%= form.label :volume %>
    <%= form.text_field :volume %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :factor %>
    <%= form.text_field :factor %>
  </div>

  <div class="field">
    <%= form.label :interface %>
    <%= form.text_field :interface %>
  </div>

  <div class="field">
    <%= form.label :controller %>
    <%= form.text_field :controller %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
