<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ssd.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ssd.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ssd.price %>
</p>

<p>
  <strong>Produced:</strong>
  <%= @ssd.produced %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @ssd.brand_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ssd.category_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @ssd.country_id %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @ssd.volume %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ssd.type %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @ssd.factor %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @ssd.interface %>
</p>

<p>
  <strong>Controller:</strong>
  <%= @ssd.controller %>
</p>

<%= link_to 'Edit', edit_ssd_path(@ssd) %> |
<%= link_to 'Back', ssds_path %>
