<p id="notice"><%= notice %></p>

<h1>Computers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Country</th>
      <th>Color</th>
      <th>Os</th>
      <th>Price</th>
      <th>Produced</th>
      <th>Width</th>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computers.each do |computer| %>
      <tr>
        <td><%= computer.name %></td>
        <td><%= computer.description %></td>
        <td><%= computer.brand_id %></td>
        <td><%= computer.category_id %></td>
        <td><%= computer.country_id %></td>
        <td><%= computer.color_id %></td>
        <td><%= computer.os_id %></td>
        <td><%= computer.price %></td>
        <td><%= computer.produced %></td>
        <td><%= computer.width %></td>
        <td><%= computer.height %></td>
        <td><%= link_to 'Show', computer %></td>
        <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
        <td><%= link_to 'Destroy', computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Computer', new_computer_path %>
